* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: #80B3AA;
    font-family: monospace;
}

header, footer {
    background-color: #B3D1CB;
    padding: 20px;
    width: 100%;
}

a {   
    padding: 1px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #1C110A;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

li {
    font-size: 1.1rem;
    line-height: 1.6;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
}
.container {
    background-color: #80B3AA;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#primary {
    margin: 5px auto;
}

.content {
    background-color: teal;
    margin: 10px auto;
    padding: 10px;
}

#secondary {
    margin: 5px auto;
    text-align: center;
}
.form {
    padding: 5px;
    background-color: #FE9D5D;
    
}

form label, form input {
    padding: 10px;
    margin: 10px; 
    width: 90%;
    font-size: 1.2rem;   
}
button {
    padding: 5px;
    font-size: 0.8rem
}
.btn {
    padding: 10px 10px 0 10px;
}

.image{
    margin: 5px;
    padding: 5px;
}

img {  
    display: block;
    max-width: 100%;
}

@media only screen and (min-width: 600px) {
    .navigation {
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) { 
    
    #primary {
        width: 65%;
    }

    #secondary {
        width: 25%;
    }
}

@media only screen and (min-width: 992px) {
    a {
        font-size: 1.3rem;
    }
}